<!--  
To add author profile to blog, create a file author_detail.html in layouts/partials/ and add name in format:

{{if eq .user "<author_name>" }}
<nav class="social__nav article-author__social">
    <ul class="social__list social__list--inline">
        <li class="social__item social__item--inline">
            <a href="<author_linkedin_link>" class="social__link">
                <svg class="icon social__icon social__icon--linkedin">
                    <use xlink:href="#icon-linkedin" xmlns:xlink="https://www.w3.org/1999/xlink"></use>
                </svg>
            </a>
        </li>
        <li class="social__item social__item--inline">
            <a href="<author_twitter_link>" class="social__link">
                <svg class="icon social__icon social__icon--twitter">
                    <use xlink:href="#icon-twitter" xmlns:xlink="https://www.w3.org/1999/xlink"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>
<p>Author Bio<p>
{{end}}
-->

{{if eq .user "jul" }}
<nav class="social__nav article-author__social">
    <ul class="social__list social__list--inline">
        <li class="social__item social__item--inline">
            <a href="https://www.linkedin.com/in/jbeaudaux" class="social__link">
                <svg class="icon social__icon social__icon--linkedin">
                    <use xlink:href="#icon-linkedin" xmlns:xlink="https://www.w3.org/1999/xlink"></use>
                </svg>
            </a>
        </li>
        <li class="social__item social__item--inline">
            <a href="https://github.com/jbeaudaux" class="social__link">
                <svg class="icon social__icon social__icon--github">
                    <use xlink:href="#icon-github" xmlns:xlink="https://www.w3.org/1999/xlink"></use>
                </svg>
            </a>
        </li>
        <li class="social__item social__item--inline">
            <a href="https://github.com/jbeaudaux" class="social__link">
                <svg class="icon social__icon social__icon--cv">
                    <use xlink:href="#icon-cv" xmlns:xlink="https://www.w3.org/1999/xlink"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>
<p>Ingénieur-Docteur en Informatique, je suis spécialisé dans les systèmes embarqués temps-réel et Linux et les réseaux. Je participe actuellement à la conception de dispositifs médicaux, avec à ma charge la conduite d'une équipe d'ingénieurs logicielsle respect des normes (documentation, contrôle qualité)


Et comme il n'y a pas que le travail dans la vie, le Tango et d'oenologie, je travaille dans les systèmes embarqués, les réseaux et les dispositifs médicaux depuis plus de 6 ans. </p>

{{ else if eq .user "molly" }}
<nav class="social__nav article-author__social">
    <ul class="social__list social__list--inline">
        <li class="social__item social__item--inline">
            <a href="https://www.linkedin.com/molly" class="social__link">
                <svg class="icon social__icon social__icon--linkedin">
                    <use xlink:href="#icon-linkedin" xmlns:xlink="https://www.w3.org/1999/xlink"></use>
                </svg>
            </a>
        </li>
        <li class="social__item social__item--inline">
            <a href="https://twitter.com/GrahamMooly" class="social__link">
                <svg class="icon social__icon social__icon--twitter">
                    <use xlink:href="#icon-twitter" xmlns:xlink="https://www.w3.org/1999/xlink"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>
<p> I'm Molly Graham, a web developer working in NYC. Plain and simple, I love programming. I'm passionate about writing clean, unique, elegant code. Codes that work.</p>
{{end}}
